{% extends "base.html" %} {% block content %}
<!--Section: FAQ-->
<section>
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold" style="color:#00bc8c">FAQ</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>
    <center>

        <div class="row" style="padding-left:500px">
            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary" style="color:#00bc8c"><i class="far fa-paper-plane text-primary pe-2"></i> Any paste restrictions?
                </h6>
                <p>
                    <strong><u>Absolutely Not</u></strong>You can post any text you want on here without worrying about a thing!
                </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Are pastes private?</h6>
                <p>
                    <strong><u>Yes</u></strong> All of the pastes are encrypted.
                </p>
            </div>
    </center>
    <br>
    <center>
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary" style="color:#00bc8c"><i class="fas fa-user text-primary pe-2"></i> Why anonpaste?
            </h6>
            <p>
                We are transparent, security focused and we plan on expanding our services into other branches such as advertisement and search engines.
            </p>
        </div>
    </center>
    </div>
</section>
<!--Section: FAQ-->

{% endblock content %}